#box-textos5654{
    width: 100%;
    display: grid;
    align-content: center;
    text-align: center;
}

#box-textos5654 h1{
    margin: 0;
    font-size: 3em;
    color: rgb(255, 255, 255);
}

#box-textos5654 p{
    margin: 0;
    font-size: 2em;
    color: white;
}